@media(max-width:480px) {
    * {
        margin: 0;
        padding: 0;
    }

    .menu-bar {
        display: none;
    }

    .footer-logo img {
        width: 280px;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .footer-container p {
        font-size: 10px;
    }

    footer {
        border-radius: 20px;
        margin: 10px;
    }

    footer li {
        font-size: 10px;
    }

    .footer-bottom {
        font-size: 12px;
    }

    .heading h1{
        font-size: 60px;
        text-align: center;
        margin-top: -60px;
    }
    .contact-info{
        display:flex;
        flex-direction: column;
        gap:80px;
    }

    .contact-container{
        background: none;
        margin-top: 100px;
    }
    .contact-item{
        padding: 0px;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        right: 8;
        width: 100%;
        background-color: #0c0c0c;
        border-radius: 30px 0px 30px 30px;
        padding: 25px;
        width: 40%;
    
      }
    
      .nav-links.show {
        display: block;
      }
    
      header {
        display: flex;
      }
 
    
}